<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/calendarapplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calendarapplogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.A">
        <activity
            android:name=".guideactivitys.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".reminder.ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".notes.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".shooping.ShoopingActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">

        </activity>

        <receiver
            android:name=".reminder.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".reminder.ReminderService"
            android:enabled="true"
            android:exported="true"
            android:process=":ServiceProcess" />
    </application>

</manifest>